 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}

body{
    height: 100vh;
    width: 100%;
    text-align: center;
    background: hsl(210, 36%, 96%);

}
main{
    height: 100%;
    width: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    
}
.question-container{
    width: 620px;
}
article{
    background: #fff;
    padding: 25px 30px 5px 30px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 25px;
    max-width: 620px;
}
.tital p{
    letter-spacing: 3px;
}
.answer p{
    text-align:left;
   color:  hsl(210, 22%, 49%);
}
.tital{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
 .btn{
    background: none;
    border: none;
    color: #c59d5f;
}
.answer{
    padding: 10px 0 15px 0;
    border-top: 1px solid hsl(210, 22%, 49%);
    display: none;
}
.show-text .answer{
    display: block;
}
.heading{
    position: relative;
    top: 100px;
   
    font-family: 'Great Vibes', cursive;
    
    color:#c59d5f ;
    font-size: 25px;
}
